{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
<h1>Dashboard</h1>

<!-- Dashboard widgets -->
<div class="row g-4 mb-5">
    <div class="col">
        <div class="card mb-3 dashboard-widget" style="background-color: rgb(255, 165, 0, 0.7)"
            id="widget_queue">
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-md-8">
                        <h5 class="card-title">Processing</h5>
                        <p class="card-text" style="font-size: 2rem;" id="widget_processing_content">{{ processing_pdfs }}</p>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <i class="img-fluid rounded-start bi-gear position-absolute dashboard-widget-icon{% if processing_pdfs and processing_pdfs > -1 %} rotating{% endif %}"
                            alt="Processing icon" id="widget_processing_icon"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary" id="dashboard_latest_timestamp_processing_string">{{ latest_timestamp_processing_string }}</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3 dashboard-widget" style="background-color: rgb(58, 167, 44);"
            id="widget_processed">
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-md-8">
                        <h5 class="card-title">Completed</h5>
                        <p class="card-text" style="font-size: 2rem;" id="widget_processed_content">{{ processed_pdfs }}</p>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <i class="img-fluid rounded-start bi-check2-circle position-absolute dashboard-widget-icon"
                            alt="Processed icon"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary" id="dashboard_latest_timestamp_completed_string">{{ latest_timestamp_completed_string }}</small>
            </div>
        </div>
    </div>
</div>

<h2> Latest documents </h2>
{% if pdfs %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4" id="pdfs_grid">
</div>
<br>
<!-- Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        <!-- First Page Button -->
        {% if page != 1 %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        {% endif %}

        <!-- Previous Button -->
        {% if page != 1 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        <!-- Numbered Pages -->
        {% for page_num in range(1, total_pages + 1) if page - 5 <= page_num <=page + 5 %} <li
            class="page-item {% if page_num == page %}active{% endif %}">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %}

            <!-- Next Button -->
            {% if page != total_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}

            <!-- Last Page Button -->
            {% if page != total_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ total_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}

    </ul>
</nav>

{% else %}
<p>There is nothing to see here yet until you start scanning your first PDF.</p>
<div class="d-flex align-items-center justify-content-center">
    <dotlottie-player src="/static/lottie/ghost.json"
        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
</div>
{% endif %}


<!-- Welcome modal-->
<div class="modal fade" id="welcome_modal" tabindex="-1" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Welcome</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Waiting animation when form is sent -->
                <div class="text-center" id="waitingAnimationLottie" style="display: block;">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <dotlottie-player id="welcome_lottie_player"
                        src="/static/lottie/welcome.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                        autoplay></dotlottie-player>
                </div>

                <p>Welcome to <strong>PySyncOCR</strong>.<br>
                    Start by adding a new OneDrive connection from the Sync menu. Next, create your first SMB destination and map it to a folder on your OneDrive.</i></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" id="goto_sync_button" class="btn btn-primary" onclick="location.href='/sync'">Add
                    OneDrive</button>
            </div>
        </div>
    </div>
</div>
{% if first_use %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var modal = document.getElementById('welcome_modal');
        var bsModal = new bootstrap.Modal(modal);
        bsModal.show();
    });
</script>
{% endif %}
<script>
    var pdfsData = JSON.parse('{{ pdfs | tojson | safe }}');
    var entries_per_page = parseInt('{{ entries_per_page }}')
</script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}