{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">

<!-- Dashboard widgets -->
<div class="row g-4 mb-3">
    <div class="col">
        <div class="card mb-3 dashboard-widget" style="background-color: rgb(255, 165, 0, 0.7)"
            id="widget_queue">
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-md-8">
                        <h5 class="card-title">Processing</h5>
                        <p class="card-text" style="font-size: 2rem;" id="widget_processing_content">{{ processing_pdfs }}</p>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <i class="img-fluid rounded-start bi-gear position-absolute dashboard-widget-icon{% if processing_pdfs and processing_pdfs > -1 %} rotating{% endif %}"
                            alt="Processing icon" id="widget_processing_icon"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary" id="dashboard_latest_timestamp_processing_string">{{ latest_timestamp_processing_string }}</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3 dashboard-widget" style="background-color: rgb(58, 167, 44);"
            id="widget_processed">
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-md-8">
                        <h5 class="card-title">Completed</h5>
                        <p class="card-text" style="font-size: 2rem;" id="widget_processed_content">{{ processed_pdfs }}</p>
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <i class="img-fluid rounded-start bi-check2-circle position-absolute dashboard-widget-icon"
                            alt="Processed icon"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary" id="dashboard_latest_timestamp_completed_string">{{ latest_timestamp_completed_string }}</small>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4" id="pdfs_grid">
</div>
{% if pdfs %}
<br>
<!-- Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        <!-- Previous Button -->
        {% if page > 1 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        <!-- First Page -->
        <li class="page-item {% if page == 1 %}active{% endif %}">
            <a class="page-link" href="?page=1">1</a>
        </li>

        {% set start = 2 %}
        {% set end = total_pages - 1 %}
        {% if page - 2 > 2 %}
            {% set start = page - 2 %}
        {% endif %}
        {% if page + 2 < total_pages - 1 %}
            {% set end = page + 2 %}
        {% endif %}

        <!-- Dots if needed -->
        {% if start > 2 %}
        <li class="page-item disabled page-item-dots"><span class="page-link" aria-label="More pages">...</span></li>
        {% endif %}

        <!-- Four dynamic pages -->
        {% for page_num in range(start, end + 1) %}
            {% if page_num != 1 and page_num != total_pages %}
            <li class="page-item {% if page_num == page %}active{% endif %}">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %}
        {% endfor %}

        <!-- Dots if needed before last page -->
        {% if end < total_pages - 1 %}
        <li class="page-item disabled page-item-dots"><span class="page-link">...</span></li>
        {% endif %}

        <!-- Last Page (if more than one page) -->
        {% if total_pages > 1 %}
        <li class="page-item {% if page == total_pages %}active{% endif %}">
            <a class="page-link" href="?page={{ total_pages }}">{{ total_pages }}</a>
        </li>
        {% endif %}

        <!-- Next Button -->
        {% if page < total_pages %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}
{% if total_entries == 0 %}
<div id="empty_dashboard" class="text-center mt-3">
    <h2>Welcome to ScanSync</h2>
    <p>Get started in three steps:</p>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex align-items-center">
            <i class="bi bi-1-circle text-primary me-2 instructions-icon"></i>
            <span>Login with OneDrive on the <a href="/settings">settings</a> page</span>
        </div>
        <div class="d-flex align-items-center">
            <i class="bi bi-2-circle text-primary me-2 instructions-icon"></i>
            <span>Add your first connection on the <a href="/sync">sync</a> page</span>
        </div>
        <div class="d-flex align-items-center">
            <i class="bi bi-3-circle text-primary me-2 instructions-icon"></i>
            <span>Start scanning!</span>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <dotlottie-player src="/static/lottie/welcome.json" background="transparent" speed="1"
            style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
</div>
{% endif %}

{% if total_entries > 0 and pdfs == [] %}
<p class="text-center">Nothing here to see! Please go <a href="/">back.</a></p>
{% endif %}

<script>
    let pdfsData = JSON.parse('{{ pdfs | tojson | safe }}');
    const entries_per_page = parseInt('{{ entries_per_page }}')
    const smb_tag_colors = JSON.parse('{{ smb_tag_colors | tojson | safe }}');
</script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}
