{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/settings.css">

<h1>Settings</h1>
<div class="container mt-3">
    <ul class="nav nav-fill nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="onedrive-tab" data-bs-toggle="tab" href="#onedrive-tabpanel" role="tab"
                aria-controls="onedrive-tabpanel" aria-selected="true">
                <i class="bi-cloud"></i> OneDrive
                {% if not user_name %}
                <span class="badge bg-danger ms-1">!</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ocr-tab" data-bs-toggle="tab" href="#ocr-tabpanel" role="tab"
                aria-controls="ocr-tabpanel" aria-selected="false"><i class="bi-file-earmark-text"></i> OCR </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="file-naming-tab" data-bs-toggle="tab" href="#file-naming-tabpanel" role="tab"
                aria-controls="file-naming-tabpanel" aria-selected="false"><i class="bi-chat-dots"></i> File Naming </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="smb-tab" data-bs-toggle="tab" href="#smb-tabpanel" role="tab"
                aria-controls="smb-tabpanel" aria-selected="false"><i class="bi-database"></i> SMB </a>
        </li>
    </ul>
    <div class="tab-content pt-3" id="tab-content">
        {% include "settings-tab/settings-tab-onedrive.html" %}
        {% include "settings-tab/settings-tab-ocr.html" %}
        {% include "settings-tab/settings-tab-file-naming.html" %}
        {% include "settings-tab/settings-tab-smb.html" %}
    </div>
</div>
<script src="/static/js/settings.js"></script>
{% endblock %}