.nav-tabs .nav-item .nav-link.active{
    color: black;
}

.nav-tabs .nav-item .nav-link{
    color: white;
}

.accordion-body {
    background-color: white;
}

.accordion {
    --bs-accordion-bg: transparent;
}

.accordion-button {
    color: white
}