.success-color, .failure-color {
    transition: background-color 0.5s, border-color 0.5s;
}

.success-color {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.failure-color {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.disabled {
    pointer-events: none;
}

.collapse-info {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: white;
}
