.copy-button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #0056b3;
}

.terminal-command {
    white-space: nowrap; /* Prevent line breaks */
    overflow-x: auto; /* Enable horizontal scrolling */
    scrollbar-color: white transparent; /* Remove scrollbar background */
}

#remote_path {
    cursor: pointer;
}

.img-fluid:hover {
    transform: scale(5.0);
    transition: transform 0.2s;
}